dl.multiselect dd.b, dl.multiselect dd.b .form-item, dl.multiselect dd.b select {
  font-family: inherit;
  font-size: inherit;
  width: 18em;
}
dl.multiselect dd.a, dl.multiselect dd.a .form-item {
  width: 14em;
}
dl.multiselect dt, dl.multiselect dd {
  float: left;
  line-height: 1.75em;
  padding: 0;
  margin: 0 1em 0 0;
}

#accountTools {

}

#accountTools div.balance {
  color: #65B33C;
  font-size: 18px;
}

div.price {
}

#accountTools div.balance div.price {
  display: inline;
  color: #C74530;
}

  
#accountTools ul.actions {
  list-style: none;
  width: 100%;
  margin: 0px;
  padding: 0px;
  vertical-align: bottom;
}


#accountTools ul.actions li {
  float: left;
  font-size: 14px;
  padding: 2px 10px 0px;
  vertical-align: bottom;
  line-height: 22px;
}

#accountTools ul.actions li.selected {
  position: relative;
  background: #DAF1FF;
}

#accountTools ul.actions li a {
  vertical-align: bottom;
}

#accountForms div.wrapper {
  display: none;
}

#accountForms div.wrapper{
  padding: 5px;
  background: #DAF1FF;
}

#accountForms .progress-disabled {
  float: none;
}


/* table part */

tr.sent td.amount {
  color: red;
}

tr.received td.amount {
  color: green;
}

tr.status-1 {
  color: blue;
}
tr.status-4 td,tr.status-5 td,tr.status-6 td {
  background-color: #FF8E8E;
  color: white;
}


/* show ..... from ... */
div.pagercount {
  text-align: right;
  padding: 5px 0px;
}  

div.pagercount ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

div.pagercount ul li {
  display: inline;
  padding: 2px 5px;
}

div.pagercount ul li.active {
  color: green;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}  